*::-webkit-scrollbar {
  display: none;
}

.App {
  overflow: hidden;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#map-container {
  position: relative;
}

#map-buttons {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 7;
  top: 0;
}

#back-map-button {
  position: absolute;
  z-index: 8;
  bottom: 5%;
  left: 3%;
  text-decoration: none;
}

#map-button {
  font-size: 22px;
  font-family: Monogram;
  border: 3px solid black;
}

#user-frame {
  position: absolute;
  z-index: 8;
  width: 15%;
  top: 1%;
  left: 1%;
}

#user-image {
  width: 30%;
  height: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid black;
}

#connect-button {
  transition: 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#connect-button:hover {
  background-color: black;
  color: white;
}

#back-button {
  color: white;
  text-decoration: none;
  font-family: Monogram;
  font-size: 24px;
  border: 2px solid white;
}

#map-buttons > .col-4:nth-child(1) {
  position: absolute;
  right: 53%;
  top: 32.5%;
  transform: translate(50%, -50%);
}

#map-buttons > .col-4:nth-child(2) {
  position: absolute;
  right: 25%;
  bottom: 32.5%;
  transform: translate(50%, -50%);
}

#map-buttons > .col-4:nth-child(3) {
  position: absolute;
  right: 73.5%;
  bottom: 33.5%;
  transform: translate(50%, -50%);
}

#map-buttons > .col-4:nth-child(4) {
  position: absolute;
  right: 28.5%;
  top: 25%;
  transform: translate(50%, -50%);
}

#altar-buttons {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
}

#altar-buttons > .col-3:nth-child(1) {
  position: absolute;
  right: 46%;
  bottom: 30%;
  transform: translate(50%, -50%);
}

#altar-button {
  font-size: 22px;
  font-family: Monogram;
}

#dungeon-container {
  position: relative;
}

#dungeon-button {
  font-size: 22px;
  font-family: Monogram;
  position: absolute;
  right: 51.5%;
  bottom: 47%;
  transform: translate(50%, -50%);
}

#missions-button {
  font-size: 22px;
  font-family: Monogram;
  position: absolute;
  right: 40%;
  bottom: 50%;
  transform: translate(50%, -50%);
}

#beginner-mission-button {
  font-size: 22px;
  font-family: Monogram;
}

#intermediate-mission-button {
  font-size: 22px;
  font-family: Monogram;
}

#hall-buttons > .col-3:nth-child(2) {
  position: absolute;
  right: 29.5%;
  bottom: 42%;
  transform: translate(50%, -50%);
}

#nursery-container {
  position: relative;
}

#nursery-buttons {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
}

#nursery-buttons > .col-3:nth-child(1) {
  position: absolute;
  left: 2%;
  bottom: 45%;
  transform: translate(50%, -50%);
}

#nursery-buttons > .col-3:nth-child(2) {
  position: absolute;
  right: 33.5%;
  bottom: 43%;
  transform: translate(50%, -50%);
}

#nursery-button {
  font-size: 22px;
  font-family: Monogram;
}

#smelter-button {
  font-size: 22px;
  font-family: Monogram;
}

#trader-button {
  font-size: 22px;
  font-family: Monogram;
  position: absolute;
  left: 23%;
  bottom: 45%;
  transform: translate(50%, -50%);
}

#shop-button {
  font-size: 22px;
  font-family: Monogram;
  position: absolute;
  right: 32.5%;
  bottom: 42%;
  transform: translate(50%, -50%);
}

#text {
  font-family: Monogram;
}

#modal-title {
  font-family: Monogram;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 10px;
}

#modal-screen {
  transition: 0.25s;
  position: absolute;
  z-index: 9;
  top: 50.2%;
  right: 50.1%;
  transform: translate(50.1%, -50.1%);
}

#bag-container {
  position: absolute;
  bottom: 0%;
  right: 0%;
}

#monsters-container {
  overflow: scroll;
  max-height: 30rem;
}

#shop-modal {
  overflow: hidden;
  transition: 0.25s;
  position: absolute;
  z-index: 10;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: #eddfb3;
  border-radius: 10px;
  border: 5px solid #632626;
}

#item-card {
  transition: 0.25s;
  border: 1px solid black;
  background-color: #ffebc1;
}

#item-card-active {
  transition: 0.25s;
  border: 3px solid black;
  background-color: #ffebc1;
}

#inventory-card {
  border: 2px solid black;
}

@font-face {
  font-family: Monogram;
  src: url("../public/monogram-extended.ttf");
}
